.faqContainer {
    font-family: sans-serif;
    margin-top: 100px;
}

.faqContainer h3,
.faqContainer p {
    margin: 0;
    padding: 0;
}

.faqContainer>div:first-child {
    max-width: 800px;
    margin: 0 auto;
}

.faqHeader {
    display: flex;
    gap: 100px;
    margin-bottom: 40px;
}

.faqHeader>div:first-child {
    font-size: 1.5rem;
    font-weight: bold;
}

.faqHeader h3 {
    font-size: 2.2rem;
    margin-bottom: 40px;
}

.faqDescrip {
    margin-top: 40px;
    width: 100%;
    color: black;
}

.faqDescrip hr {
    height: 1px;
    border: none;
    background-color: #d0cbcbc2;
}

.faqDescrip>div:first-child {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 200px;
}

.partner {
    padding-top: 80px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    gap: 70px;
}

.partner>div:first-child {
    font-size: 1.5rem;
    font-weight: bold;
}

.partner>div:last-child h3 {
    font-size: 2.2rem;
    margin-bottom: 40px;
}

.partnerBrand {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
}

.partnerBrand div {
    height: 150px;
    width: 150px;
    border: 1px solid;
    border-radius: 50%;
}

.plusButton {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}